/* .App {
  text-align: center;
} */
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */
label{
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
  /* margin-left: 30rem; */
}

input[type = "text"],
input[type = 'email'],
input[type = 'channel']

{
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* margin-left: 30rem; */
}
.form-control{
  margin-bottom: 20px;

}
.error{
  color: red;
}
.p{
  font-size: 14px;
  color: #262626;
}
.section{
  padding-top: 40px;
  padding-bottom: 40px;
}
.main-heading{
  color: rgb(204, 18, 18);
}
.underline{
  height: 04px;
  width: 4rem;
  background-color: #f76c2f;
  margin-top: 10px;
  margin-bottom: 10px;
}
.underline_team{
  height: 04px;
  width: 4rem;
  background-color: #f76c2f;
  margin-top: 10px;
  margin-bottom: 10px;
  align-self: center;
}
.bg-c-light{
  background-color: #f2f2f2;
}
.footer a :hover{
  color: gray !important;
}
.info{
  text-align:justify;
}
.footer2{
  background-color: rgb(224, 137, 22);
  
}
/* .rightpara{
  text-align:justify;
  margin-left: 15rem;
} */
/* contactus */
.connect-us{
  margin-top: 12rem;
  margin-bottom: 8rem;
  background-color: #F4F0E2;
  clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100% );
  /* width: 100%; */
}
@media (max-width: 991px){
  .connect-us{
    margin-top: 12rem;
    margin-bottom: 8rem;
    background-color: #F4F0E2;
    
  
  }
}
.shadow{
  margin-top: 4rem; 
   margin-bottom: 2rem;
}
.contactshadow{
  margin-top: 9rem; 
   margin-bottom: 4rem;
}
.abthome{
  margin-top: 2rem; 
  margin-bottom: 2rem;
}
.contactcard{
  margin-top: 3rem; 
   margin-bottom: 2rem;
}
/* .card-body{
  margin-top: 5rem;
} */

.connect-team{
  margin-top: 10rem;
  margin-bottom: 6rem;
  background-color: #F4F0E2;
  /* clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%); */
  /* clip: rect(110px, 160px, 170px, 60px); */
}
.team-head{
  margin-top: 5rem;
  color: #091353;
}
.connect-us-form{
  background-color: white;
  padding: 40px 40px;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 60px;
  border-radius: 10px;
}
.connect-us-form img{
  width: 10%;
}



.address{
  padding-left: 100px;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
